.side-bar
  .side-bar__header
    .side-bar__header--box
      %span.name name
      %ul.list
        %li.list__list-icon
         = <i class="far fa-edit"></i>
        %li.list__list-icon
          設定
  .side-bar__grops